* { margin: 0; padding: 0; }

html {
  font-size: 20px;
  color: #444;
}

body {
  background: url("bg.png");
  margin: 2rem 1rem;
}

section {
  margin-top: 2rem;
}

section h2 {
  margin-bottom: 1rem;
}

.name-container {
  display: inline-block;
  margin-right: .5rem;
  margin-bottom: .2rem;
}

#player-list .name {
  vertical-align: middle;
  box-sizing: padding-box;
  width: 5rem;
  height: 1.5rem;
  padding: .15rem .3rem;
  color: #666;
  border: 1px solid #ccc;
}

.lock {display: none}
.lock + label {
  vertical-align: middle;
  display: inline-block;
  box-sizing: padding-box;
  height: 1.5rem;
  width: 1.4rem;
  padding: .15rem .2rem;
  border: 1px solid #ccc;
  border-left: none;
  color: #888;
  background-color: #eee;
}
.lock + label .fa:nth-child(2) {display: none}
.lock:checked + label .fa:nth-child(1) { display:none }
.lock:checked + label .fa:nth-child(2) { display:inherit; color: #e67e22 }

.off {display: none}

.char {
  width: 3rem;
  padding: .15rem .3rem;
  color: #666;
  border: 1px solid #ccc;
}

#match-list {
  margin-left: 1rem;
}

.reset-match {
  display: none;
}

/* League */

.league-content {
  display: flex;
}

.league-matches {
  margin-right: 4rem;
}

.league-scores {
  border-collapse: collapse;
}

.league-scores th {
  text-align: left;
}

.league-scores td {
  border-top: 1px dotted #aaa;
  padding: .3rem 0;
}

.league-scores tr:first-child {
  border-bottom: 1px solid #666;
}

.league-scores td:nth-child(2),
.league-scores th:nth-child(2) {
  text-align: right;
}

.league-matches {
  display: table;
}

.league .match {
  display: table-row;
  height: 1.5rem;
}

.league .player1, .league .player2 {
  display: table-cell;
  vertical-align: top;
}

.league .player1 .player-info {
  display: flex;
  flex-flow: row-reverse;
  align-items: baseline;
}

.league .player1 {
  padding-right: 1rem;
}

.player-name {
  padding: 0 .3rem;
}

/* Tourney */

.tourney-matches {
  display: flex;
  align-items: stretch;
}

.level {
  list-style: none;

  display: flex;
  flex-flow: column;
  justify-content: space-around;
  margin-right: 2rem;
}

.tourney .match {
  margin: .5rem 0;
}

.tourney .bye {visibility: hidden}

.tourney .winner:before {
  content: '勝者: ';
  color: #ca1;
}

/* Budokai data */

.budokai-data {
  margin-top: 2rem;
  font-size: 0.8rem;
}

.budokai-data .data {
  margin-bottom: 0.5rem;
  font-size: 0.5rem;
  color: #aaa;
  word-wrap: break-word;
  max-width: 20rem;
}

/* Stats */

#all-matches {
  margin-top: 3rem;
  margin-left: 2rem;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 13pt;
  width: 26rem;
}

#all-matches thead td {
  transform: rotate(-60deg) translate(50%,0);
}

#all-matches .name {
  transform: translate(-2rem);
}

.inactive {
  opacity: 0.2;
}

.square {
  text-align: center;
}

/* .q0 { background-color: #8f100d; color: white; } */
/* .q1 { background-color: #b52a26; color: white; } */
/* .q2 { background-color: #f57773; color: white; } */
/* .q3 { background-color: #ffa5a3; color: white; } */
/* .q4 { background-color: rgb(247,251,247); color: #666; } */
/* .q5 { background-color: #77b6b9; color: white; } */
/* .q6 { background-color: #469194; color: white; } */
/* .q7 { background-color: #18696d; color: white; } */
/* .q8 { background-color: #085357; color: white; } */

.q0 { background-color: rgb(247,251,247); color: #666; }
.q1 { background-color: #77b6b9; color: white; }
.q2 { background-color: #469194; color: white; }
.q3 { background-color: #18696d; color: white; }
.q4 { background-color: #085357; color: white; }
