* { margin: 0; padding: 0; }

html {
  font-size: 25px;
  font-family: serif;
  color: #444;
  max-width: 40rem;
}

body {
  background: url("bg.png");
  margin: .5rem .25rem;
}

section + section {
  margin-top: 1rem;
}

h3 {
  margin-top: 1rem;
  margin-bottom: .5rem;
  font-size: 0.8rem;
}

section h2 {
  font-size: 1rem;
  margin-bottom: .5rem;
}

#n-players {
  vertical-align: middle;
  width: 5rem;
}

#n-players-output {
  display:inline-block;
  margin-bottom: 1rem;
}

.name-container {
  display: inline-block;
  margin-right: .5rem;
  margin-bottom: .25rem;
  font-size: 0; /* To hide DOM text nodes between name and label */
}

#shuffle-players::before {
  font-family: 'FontAwesome';
  content: '\f074  ';
}

#shuffle-players {
  font-size: 1.2rem;
  height: 1.8rem;
  width: 100%;
  color: #666;
  margin-bottom: 1rem;
}

#player-list .name {
  vertical-align: middle;
  box-sizing: padding-box;
  width: 4.5rem;
  height: 1.8rem;
  padding: 0 .2rem;
  color: #666;
  border: 1px solid #ccc;
  font-size: .8rem;
  font-family: serif;
}

.off {display: none}

.lock {
  position: absolute;
  visibility: hidden;
}

.lock + label {
  font-size: 1.2rem;
  vertical-align: middle;
  display: inline-block;
  box-sizing: padding-box;
  height: 1.8rem;
  width: 1.8rem;
  padding: .3rem .35rem;
  border: 1px solid #ccc;
  border-left: none;
  color: #888;
  background-color: #eee;
}

.lock + label::before {
  font-family: 'FontAwesome';
  content: '\f09c';
}

.lock:checked + label::before {
  font-family: 'FontAwesome';
  content: '\f023';
  color: #e67e22;
}

/* Matches */

.match {
  font-size: 0.8rem;
}

.char {
  width: 2.1rem;
  padding: .1rem .1rem;
  color: #666;
  border: 1px solid #ccc;
}

.winner-select {
  position: absolute;
  visibility: hidden;
}

.player-name {
  border-bottom: 2px solid #666;
  border-color: rgba(230, 126, 34, 0);
  transition: border-color .1s;
}

.winner-select:checked + label {
  border-color: rgba(230, 126, 34, 1);
}

/* League */

.league-content {
  display: flex;
  flex-flow: column;
}

.league-scores {
  margin-top: 0.5rem;
  border-collapse: collapse;
  font-size: 0.8rem;
}

.league-scores th {
  text-align: left;
}

.league-scores td {
  border-top: 1px dotted #aaa;
  padding: .1rem 0;
}

.league-scores thead tr {
  border-bottom: 1px solid #666;
}

.league-scores td:nth-child(2),
.league-scores th:nth-child(2) {
  text-align: right;
}

.league-matches {
  display: table;
}

.league .match {
  display: table-row;
  height: 1.5rem;
}

.league .separator::before {
  content: '—';
}

.league .player1, .league .player2 {
  display: table-cell;
  vertical-align: top;
}

.league .player1 .player-info {
  display: flex;
  flex-flow: row-reverse;
  align-items: baseline;
}

.league .player-name {
  margin: 0 .3rem;
}

/* Tourney */

.tourney-matches {
  display: flex;
  align-items: stretch;
}

.level {
  list-style: none;
  min-width: 6.5rem;

  display: flex;
  flex-flow: column;
  justify-content: space-around;
  margin-right: 0rem;
}

.tourney .player-info {
  margin: .3rem 0;
}

.tourney .match {
  margin: .5rem 0;
}

.tourney .bye {visibility: hidden}

.tourney .winner:before {
  content: '勝者: ';
  color: #ca1;
}

.tourney .winner-select:disabled + label + input {
  visibility: hidden;
}

.tourney .winner-select:disabled + label {
  color: #aaa;
}

/* Budokai data */

.budokai-data {
  margin-top: 2rem;
  font-size: 1rem;
}

.budokai-data .data {
  margin-top: 0.5rem;
  font-size: 0.3rem;
  color: #aaa;
  word-wrap: break-word;
  max-width: 100%;
}

/* Stats */

#all-matches {
  margin-top: 3rem;
  margin-left: 2rem;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 13pt;
  width: 26rem;
}

#all-matches thead td {
  transform: rotate(-60deg) translate(50%,0);
}

#all-matches .name {
  transform: translate(-2rem);
}

.inactive {
  opacity: 0.2;
}

.active { color: #e67e22 }

.square {
  text-align: center;
}

/* .q0 { background-color: #8f100d; color: white; } */
/* .q1 { background-color: #b52a26; color: white; } */
/* .q2 { background-color: #f57773; color: white; } */
/* .q3 { background-color: #ffa5a3; color: white; } */
/* .q4 { background-color: rgb(247,251,247); color: #666; } */
/* .q5 { background-color: #77b6b9; color: white; } */
/* .q6 { background-color: #469194; color: white; } */
/* .q7 { background-color: #18696d; color: white; } */
/* .q8 { background-color: #085357; color: white; } */

.q0 { background-color: rgb(247,251,247); color: #666; }
.q1 { background-color: #77b6b9; color: white; }
.q2 { background-color: #469194; color: white; }
.q3 { background-color: #18696d; color: white; }
.q4 { background-color: #085357; color: white; }
